<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="d-flex align-items-center">
    <a class="navbar-brand ms-3" href="/">
      <h3 class="text-white">Blog Project</h3>
    </a>

    <ul class="navbar-nav flex-row ms-3">
      <li class="nav-item">
        <a class="nav-link text-white" href="/">Home</a>
      </li>
      <% categories.forEach(category => { %>
      <li class="nav-item">
        <a class="nav-link text-white" href="/categories/<%= category.slug %>"
          ><%= category.title %></a
        >
      </li>
      <% }); %>
    </ul>
  </div>
  <ul class="navbar-nav ms-auto me-4">
      <li class="nav-item">
        <a class="nav-link text-white" href="/login">Login</a>
      </li>
    </ul>
</nav>
